main{
    background-color: #394A59;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    gap: 16px;
    
}

/* Foto principal */
.titulo-foto{
    position: relative;

}

.titulo-foto span{
    position: absolute;
    top: 15%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    font-size: 40px;
    color: white;
}

.destaque{
    width: 100%;
}

/* Ayrton heroi */
.heroi-ayrton{
    width: 100%;
}

.heroi-ayrton:hover{
   opacity: 0.8;
}

.hero{
    display:flex;
    color: white;
    justify-content: space-between;
    padding: 0 32px;
}

.heroi h2{
    color: white;
    font-size: 30px;
}

.hero h2{
    margin-bottom: 16px;
    margin-left: 24px;
}

.hero p{
    margin-left: 24px;
    font-size: 20px;
    text-align:justify;
}

/* Video */
.especificacoes-video{
    display: flex;
    gap: 24px;
    padding: 0 32px;
}


.especificacoes h3{
    font-size: 28px;
    margin-bottom: 16px;
}

.especificacoes{
    display: flex;
    flex-direction: column;
    color: white;
   justify-content: flex-start;
}

.especificacoes-lista {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}


/* Mapa */
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.mapa p{
    font-size: 25px;
    text-align: center;
    color: white;
    margin-bottom: 24px;
}